<!-- templates/index.html -->
{% extends 'layouts/main.html' %} {% block title %}ABSENSI{% endblock %} {%
block content %}
<div class="row">
  <div class="col-lg-4 col-sm-12 pt-3">
    <div class="card pt-3">
      <h3 class="title text-center pt-3 fw-bolder text-white">SCAN DISINI</h3>
      <div
        id="alert-container"
        style="margin-left: 1rem; margin-right: 1rem"
      ></div>

      <div class="efficiency-sub-section text-center mb-2 p-3">
        <form id="scanForm">
          <div class="d-flex justify-content-between mb-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type"
                id="masuk"
                value="MASUK"
                required
              />
              <label class="form-check-label" for="masuk">MASUK</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type"
                id="pulang"
                value="PULANG"
                required
              />
              <label class="form-check-label" for="pulang">PULANG</label>
            </div>
          </div>
          <input
            type="text"
            name="id_card"
            id="id_card"
            class="form-control mt-3"
            placeholder="Scan barcode or enter number"
            required
            autofocus
          />
          <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 pt-3">
    <div class="card pt-3">
      <h3 class="title text-center pt-3 fw-bolder text-white mb-5">
        DAFTAR HADIR PT HUDA MULYANA NUGRAHA
      </h3>
      <div class="efficiency-sub-section text-center mb-2 p-3">
        <table class="table table-bordered">
          <thead class="text-center">
            <th>NO</th>
            <th>NAMA</th>
            <th>NIK</th>
            <th>DEPARTMENT</th>
            <th>ABSEN MASUK</th>
            <th>ABSEN PULANG</th>
          </thead>
          <tbody id="attendanceTableBody">
            {% if attendance_records %} {% for record in attendance_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.name }}</td>
              <td>{{ record.nik }}</td>
              <td>{{ record.department }}</td>
              <td>{{ record.time_in }}</td>
              <td>{{ record.time_out }}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="6" class="text-center">Tidak ada data</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  function autofocusIdCard() {
    document.getElementById("id_card").focus();
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("id_card").focus();
  });

  document.addEventListener("click", function (event) {
    if (!event.target.closest("#id_card")) {
      document.getElementById("id_card").focus();
    }
  });

  document.getElementById("scanForm").addEventListener("submit", function (e) {
    e.preventDefault();

    var formData = new FormData(this);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", '{{ url_for("scan") }}', true);
    xhr.onload = function () {
      if (xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        var alertContainer = document.getElementById("alert-container");

        // Clear previous alerts
        alertContainer.innerHTML = "";

        // Display new alert
        var alert = document.createElement("div");
        alert.id = "alert";
        alert.className =
          "alert " + (response.success ? "alert-success" : "alert-danger");
        alert.innerText = response.success ? "Absen berhasil" : response.error;
        alertContainer.appendChild(alert);

        setTimeout(function () {
          alert.style.transition = "opacity 1s";
          alert.style.opacity = 0;
          setTimeout(function () {
            alert.remove();
          }, 1000); // Remove element after fade-out (1 second)
        }, 2000); // Wait 2 seconds before starting fade-out

        // Play audio based on type
        if (response.success) {
          if (response.type === "MASUK") {
            new Audio("static/assets/audio/absen_masuk.mp3").play();
          } else if (response.type === "PULANG") {
            new Audio("static/assets/audio/absen_pulang.mp3").play();
          }

          // Clear the input field
          document.getElementById("id_card").value = "";

          // Update the table
          updateAttendanceTable();
        } else {
          new Audio("static/assets/audio/absen_gagal.mp3").play();
          document.getElementById("id_card").value = "";
        }
      } else {
        var alertContainer = document.getElementById("alert-container");
        alertContainer.innerHTML =
          '<div class="alert alert-danger">An error occurred while submitting the form.</div>';
        new Audio("static/assets/audio/absen_gagal.mp3").play();
        document.getElementById("id_card").value = "";
      }
    };
    xhr.send(formData);
  });

  function updateAttendanceTable() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", '{{ url_for("index") }}', true);
    xhr.onload = function () {
      if (xhr.status === 200) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(xhr.responseText, "text/html");
        var newTableBody = doc.getElementById("attendanceTableBody").innerHTML;
        document.getElementById("attendanceTableBody").innerHTML = newTableBody;
      }
    };
    xhr.send();
  }
</script>
{% endblock %}
