<!-- templates/index.html -->
{% extends 'layouts/main.html' %} {% block title %}ABSENSI{% endblock %} {%
block content %}
<div class="row">
  <div class="col-lg-4 col-sm-12 pt-3">
    <div class="card pt-3">
      <h3 class="title text-center pt-3 fw-bolder text-white">SCAN DISINI</h3>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div id="alert-container" style="margin-left: 1rem; margin-right: 1rem">
        <div id="alert" class="alert alert-{{ category }}">{{ message }}</div>
      </div>
      <script>
        setTimeout(function () {
          var alertElement = document.getElementById("alert");
          alertElement.style.transition = "opacity 1s";
          alertElement.style.opacity = 0;
          setTimeout(function () {
            alertElement.parentNode.remove();
          }, 1000); // Menghapus elemen setelah efek fade out selesai (1 detik)
        }, 2000); // Menunggu 2 detik sebelum memulai efek fade out
      </script>
      {% endfor %} {% endif %} {% endwith %}

      <div class="efficiency-sub-section text-center mb-2 p-3">
        <form action="{{ url_for('scan') }}" method="post">
          <div class="d-flex justify-content-between mb-2">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type"
                id="masuk"
                value="MASUK"
                required
              />
              <label class="form-check-label" for="masuk">MASUK</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="type"
                id="pulang"
                value="PULANG"
                required
              />
              <label class="form-check-label" for="pulang">PULANG</label>
            </div>
          </div>
          <input
            type="text"
            name="id_card"
            id="id_card"
            class="form-control mt-3"
            placeholder="Scan barcode or enter number"
            required
            autofocus
          />
          <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 pt-3">
    <div class="card pt-3">
      <h3 class="title text-center pt-3 fw-bolder text-white mb-5">
        DAFTAR HADIR PT HUDA MULYANA NUGRAHA
      </h3>
      <div class="efficiency-sub-section text-center mb-2 p-3">
        <table class="table table-bordered">
          <thead class="text-center">
            <th>NO</th>
            <th>NAMA</th>
            <th>NPK</th>
            <th>DEPTARTMENT</th>
            <th>ABSEN MASUK</th>
            <th>ABSEN PULANG</th>
          </thead>
          <tbody>
            {% if attendance_records %} {% for record in attendance_records %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ record.name }}</td>
              <td>{{ record.nik }}</td>
              <td>{{ record.department }}</td>
              <td>{{ record.time_in }}</td>
              <td>{{ record.time_out }}</td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="6" class="text-center">Tidak ada data</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  // Fungsi untuk mengatur fokus ke id_card
  function autofocusIdCard() {
    document.getElementById("id_card").focus();
  }

  // Mengatur fokus ke id_card saat dokumen dimuat
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("id_card").focus();
  });

  // Mengatur fokus ke id_card saat ada klik di luar id_card
  document.addEventListener("click", function (event) {
    if (!event.target.closest("#id_card")) {
      document.getElementById("id_card").focus();
    }
  });
</script>
{% endblock %}
